* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 0px 10px 10px 0px;

}

body {
    background-color: rgb(44, 43, 43);

    & .titulo {
        display: flex;
        align-items: center;

    }

    & .menu {
        background-color: rgb(63, 63, 63);
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    & .logo {
        width: 25%;
        height: auto;


    }

    & menu {
        display: flex;
        gap: 50px;
        padding-right:30px ;


    }
}

div menu .hover:hover{
    cursor: pointer;
}

div div input{
    width: 300px;
}

div .pesquisa {
    display: flex;
}

div .titulo {
    width: 360px;
}

body div input { 
    border-radius: 10px 0px 0px 10px;
}